# This workflow will install Python dependencies, run tests and lint with a variety of Python versions
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: CM script automation test

on:
  pull_request:
    branches: [ "main", "dev", "mlperf-inference" ]
    paths:
      - '.github/workflows/test-cm-scripts.yml'
      - '**'
      - '!**.md'

jobs:
  build:

    strategy:
      fail-fast: false
      matrix:
        on: [ubuntu-latest, windows-latest, macos-latest]
        python-version: ["3.12", "3.9"]
    runs-on: "${{ matrix.on }}"   

    steps:
    - uses: actions/checkout@v3
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v3
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies
      run: |
        python -m pip install cmind
        cm pull repo --url=${{ github.event.pull_request.head.repo.html_url }} --checkout=${{ github.event.pull_request.head.ref }}
        cm run script --quiet --tags=get,sys-utils-cm
    - name: Test CM Script Automation
      run: |
        python script/test-cm-core/src/script/test_deps.py
