# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: CM script automation features test

on:
  pull_request:
    branches: [ "main", "dev", "mlperf-inference" ]
    paths:
      - '.github/workflows/test-cm-script-features.yml'
      - '**'
      - '!**.md'

jobs:
  test_cm_script_features:

    runs-on: ${{ matrix.on }}
    strategy:
      fail-fast: false
      matrix:
        python-version: ["3.12", "3.8"]
        on: ["ubuntu-latest", "windows-latest", "macos-latest"]

    steps:
    - uses: actions/checkout@v4
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v3
      with:
        python-version: ${{ matrix.python-version }}
    - name: Configure git longpaths (Windows)
      if: matrix.os == 'windows-latest'
      run: |
        git config --system core.longpaths true
    - name: Install dependencies
      run: |
        python -m pip install "cmind @ git+https://git@github.com/mlcommons/ck.git@mlperf-inference#subdirectory=cm"
        cm pull repo --url=${{ github.event.pull_request.head.repo.html_url }} --checkout=${{ github.event.pull_request.head.ref }}
        cm run script --quiet --tags=get,sys-utils-cm
    - name: Run test_docker on linux
      if: runner.os == 'linux'
      run: |
        python script/test-cm-core/src/script/test_docker.py
    - name: Test CM Script Features
      run: |
        python script/test-cm-core/src/script/test_deps.py
        python script/test-cm-core/src/script/test_install.py
        python script/test-cm-core/src/script/test_features.py
