# This workflow will install Python dependencies, run tests and lint with a variety of Python versions
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: CM tutorial tvm

on:
  pull_request:
    branches: [ "test" ]
    paths:
      - '.github/workflows/test-cm-tutorial-tvm.yml'
      - '**'
      - '!**.md'

jobs:
  build:

    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        python-version: ["3.9"]

    steps:
    - uses: actions/checkout@v4
      with:
        ref: ${{ github.event.pull_request.head.sha }}
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v3
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies
      run: |
        python -m pip install cmind
        cmx pull repo --url=${{ github.event.pull_request.head.repo.html_url }} --checkout=${{ github.event.pull_request.head.ref }}
        cmx run script --quiet --tags=get,sys-utils-cm
    - name: Test CM Tutorial TVM
      run: |
        python script/test-cm-core/src/tutorials/test_tutorial_tvm.py
