# This workflow will install Python dependencies, run tests and lint with a variety of Python versions
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: MLPerf inference MLCommons C++ ResNet50

on:
  pull_request:
    branches: [ "main", "dev", "mlperf-inference" ]
    paths:
      - '.github/workflows/test-mlperf-inference-mlcommons-cpp-resnet50.yml'
      - '**'
      - '!**.md'

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        python-version: [ "3.12" ]
        llvm-version: [ "15.0.6", "16.0.4", "17.0.6" ]
        os: [ubuntu-latest, windows-latest, macos-latest]
        exclude:
          - llvm-version: "15.0.6"
          - llvm-version: "16.0.4"
          - os: windows-latest
          - os: macos-latest

    steps:
    - uses: actions/checkout@v3
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v3
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies
      run: |
        python3 -m pip install cmind
        cm pull repo --url=${{ github.event.pull_request.head.repo.html_url }} --checkout=${{ github.event.pull_request.head.ref }}
        cm run script --quiet --tags=get,sys-utils-cm
        cm run script --quiet --tags=install,prebuilt,llvm --version=${{ matrix.llvm-version }}
    - name: Test MLPerf Inference MLCommons C++ ResNet50 on ${{ matrix.os }}
      if: matrix.os == 'windows-latest'
      run: |
        cmr "app mlperf inference mlcommons cpp" --submitter="MLCommons" --hw_name=gh_${{ matrix.os }} --adr.loadgen.tags=_from-pip --pip_loadgen=yes -v --quiet
    - name: Test MLPerf Inference MLCommons C++ ResNet50 on ${{ matrix.os }}
      if: matrix.os != 'windows-latest'
      run: |
        cmr "app mlperf inference mlcommons cpp" --submitter="MLCommons" --hw_name=gh_${{ matrix.os }} -v --quiet
    - name: Push Results
      if: github.repository_owner == 'gateoverflow'
      env:
          USER: "GitHub Action"
          EMAIL: "admin@gateoverflow.com"
          GITHUB_TOKEN: ${{ secrets.TEST_RESULTS_GITHUB_TOKEN }}
      run: |
        git config --global user.name "${{ env.USER }}"
        git config --global user.email "${{ env.EMAIL }}"
        git config --global credential.https://github.com.helper ""
        git config --global credential.https://github.com.helper "!gh auth git-credential"
        git config --global credential.https://gist.github.com.helper ""
        git config --global credential.https://gist.github.com.helper "!gh auth git-credential"

        cm run script --tags=auth,gh,cli --with_token="${{ secrets.TEST_RESULTS_GITHUB_TOKEN }}"
        cm run script --tags=push,github,mlperf,inference,submission --repo_url=https://github.com/gateoverflow/mlperf_inference_test_submissions_v5.0 --repo_branch=main --commit_message="Results from MLCommons C++ ResNet50 GH action on ${{ matrix.os }}" --quiet
